# Dépendances
node_modules/
client/node_modules/
server/node_modules/

# Build
build/
client/build/

# Environnement
.env
server/.env
client/.env
*.local

# Fichiers de développement
.DS_Store
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caches
.npm
.eslintcache

# Fichiers temporaires
*.swp
*.swo
*~
